        * {
            margin: 0px;
            padding: 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        body {
            background-color:bisque;
        }
        #header {
            background-color: black;
            text-align: right;
        }
        #header a {
            color: white;
            text-decoration: none;
            font-size: 13px;
            padding-right: 20px;
        }
        #login-dropdown {
            display: inline-block;
        }
        #header button {
            background-color: green;
            border: none;
            color: white;
            font-size: 15px;
            padding: 10px 30px;
            font-weight: bold;
        }
        #dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
            right: 0;
            background-color: #999;
            
        }
        #dropdown-content a {
            display: block;
            color: white;
            font-size: 15px;
            padding: 15px 40px;
        }
        #logo-section {
            background-color: #fcc915;
            position: relative;
            z-index: 0;
        }
        #header button:hover {
            background-color: darkgreen;
        }
        #login-dropdown:hover #dropdown-content {
            display: block ;
        }
        #dropdown-content a:hover {
            background-color: #777;
        }
        .left-align h1 {
            position: absolute;
            top:0;
            left:160px;
            font-family: fantasy;
            font-weight: normal;
            margin-top: 10px;
            font-size: 75px;
        }
        .left-align p {
            position: absolute;
            top:90px;
            left:160px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 19.2px;
        }

        .right-align {
            position: absolute;
            top:55px;
            right: 20px;
        } 
        .right-align form {
            position: relative;
        }
        .right-align form input {
            position: absolute;
            top: 0;
            right:0;
            height: 45px;
            width: 300px;
            border-radius: 30px;
            border: none;
            padding-left: 10px;
        }
        .right-align form button {
            position: absolute;
            top: 1px;
            right:1px;
            height: 43px;
            width: 45px;
            border-radius: 30px;
            border: none;
            background-color: rgba(216, 216, 216,0);
        }
        .right-align form button:hover {
            background-color: rgba(216, 216, 216,0.4);
        }
        #menubar ul {
            list-style-type: none;
            width: 100%;
            background-color: #333;
            display: flex;
            justify-content:center;
            
        }
        #menubar ul li {
            display: block;
            padding: 15px 30px;
            flex-grow: 1;
            text-align: center;
        }
        #menubar ul a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            white-space: nowrap;
            overflow: hidden;
        }
        #menubar .active {
            background-color:green;
        }
        #menubar .active:hover {
            background-color:darkgreen;
        }
        #menubar ul li:hover {
            background-color:#111;
        }